:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.title {
  font-size: 48px;
  margin-bottom: -10px;
}

.intro-container {
  max-width: 800px;
  margin-bottom: 25px;
  padding: 0 20px;
}

.intro {
  font-size: 20px;
}

.home {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 50px;
}

.thumbnailImg {
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 40%;
  border-radius: 12px;
  border: 2px solid #fff;
}

.thumbnailImg:hover {
  border: 2px solid blue;
  transition: 0.5s;
  transform: scale(1.1);
}

.homeBtn {
  position: fixed;
  display: block;
  margin: 10px 10px 0 0;
  top: 0;
  right: 0;
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #fff;
  background: #213547;
  cursor: pointer;
}

.homeBtn:hover {
  background: green;
  transition: .5s;
}

@media (prefers-color-scheme: dark) {
  .github {
    display: none;
  }
}

.github, .whiteGithub {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100px;
  margin: 0 10px 10px 0;
  border-radius: 100px;
  padding: 0;
  
}

.github:hover, .whiteGithub:hover {
  transform: scale(1.1);
  border: 2px solid blue;
  transition: .2s;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  .homeBtn {
    background: #213547;
    color: #fff;
  }

  .whiteGithub {
    display: none;
  }

  .thumbnailImg {
    border: 2px solid black;
  }
}

@media screen and (max-width: 600px) {
  .home {
    margin: 0 20px;
  }

  .intro {
    margin-top: 40px;
  }
  
  .thumbnailImg {
    width: 80%;
  }
}
